.vscode/
.venv/
venv/
.ruff_cache/
.pytest_cache/
runs/
*.pyc
*.log
#scheduler*
__pycache__/
*.cpp

.idea/
.github/

replays/

# mac ignore
*.xml
*.iml
.DS_Store
*/.ipynb_checkpoints
.ipynb_checkpoints


scenarios/air_to_air/output/*
mission.log
uv.lock
.vscode
scenarios/air_to_air/output
scenarios/air_to_air/mission.log
combat_simulation_*
replays
build/
dist/
tests/
*.egg-info/
